$color-primary: #EAF2F5;
$color-main: #F15525;
$color-second: #38BFF2;
$color-addLight: #F9F8FD;
$color-addDark: #F3F3F3;

$color-blue: #5096FF;
$color-blueDark: #4B77B9;
$color-blueLight: #50C0FF;
$color-yellow: #FFB359;
$color-orange: #FF6F50;
$color-green: #4BD071;
$color-purple: #AF93FF;

$color-dark: #22253B;
$color-light: #fff;
