.header__button, body {
  font-family: "Gilroy", Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: normal;
  color: #22253B;
}

h1 {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-style: normal;
  font-weight: 500;
  color: #22253B;
}

h2 {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-style: normal;
  font-weight: 600;
  color: #22253B;
  text-align: center;
}

h3 {
  font-size: 3.2rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: normal;
  color: #22253B;
}

h4 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: normal;
  color: #22253B;
}

p {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: normal;
  color: #22253B;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: #22253B;
}

.button {
  border-radius: 75px;
  border-style: none;
  background-color: #38BFF2;
  color: #fff;
  cursor: pointer;
}

.button_colored {
  background-color: #38BFF2;
  width: 78px;
  height: 31px;
  margin-right: 14px;
}

.button_primary {
  background-color: #F15525;
  height: 70px;
}

.header__button {
  width: 321px;
  font-size: 2rem;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.line {
  display: inline-block;
  width: 365px;
  height: 1px;
  background-color: #DEDEDE;
  margin-top: 31px;
}

.icon-arrow {
  width: 9px;
  height: 8px;
  background-image: url(../../img/icons/arrow-right.svg);
}

.img_computer {
  width: 390px;
  height: 408px;
  padding-left: 120px;
  padding-top: 2px;
}

.icon-arrow-up {
  background-image: url(../../img/icons/arrow-up.svg);
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  padding-left: 7px;
}

.img__employer {
  width: 407px;
  height: 352px;
  margin-left: 122px;
  margin-top: 42px;
}

.logo {
  background-image: url(../../img/logotype/logo.svg);
  width: 53px;
  height: 19px;
  margin-left: 8px;
}

.block {
  border-radius: 48px;
  background-color: #EAF2F5;
}

.item {
  display: inline-block;
  border-radius: 44px;
  height: 45px;
  margin-right: 6px;
  margin-bottom: 11px;
  line-height: 45px;
  text-align: center;
  color: #fff;
}

.item_blue {
  width: 311px;
  background-color: #5096FF;
}

.item_yellow {
  width: 89px;
  background-color: #FFB359;
}

.item_red {
  width: 151px;
  background-color: #FF6F50;
}

.item_green {
  width: 277px;
  background-color: #4BD071;
}

.item_lightBlue {
  width: 258px;
  background-color: #50C0FF;
}

.item_darkBlue {
  width: 95px;
  background-color: #4B77B9;
}

.item_purple {
  width: 93px;
  background-color: #AF93FF;
  margin-right: 0;
}

.header__navigation {
  max-width: 1153px;
  height: 51px;
  border-radius: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  width: 910px;
  display: flex;
  justify-content: space-around;
}
.navigation li {
  font-size: 1.3rem;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  color: #22253B;
}

.technology {
  margin-top: 157.7px;
}

.technology__block {
  width: 1160px;
  height: 396px;
  margin-top: 40px;
  margin-left: 120px;
}

.items {
  width: 467px;
  margin-top: 78px;
  margin-left: 9px;
}

.technology__text {
  width: 386px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-style: normal;
  font-weight: 500;
  color: #22253B;
  margin-left: 10px;
  margin-top: 13px;
}

.education {
  margin-top: 83px;
}

.education__title {
  width: 598px;
  margin: 0 auto;
}

.education__blocks {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-top: 35px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.block__text {
  width: 270px;
  height: 254px;
  border-radius: 30px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  margin: 0 auto;
  width: 1400px;
}

.header__background {
  background-image: url(../../img/background_img/01.png);
  padding-top: 11px;
  background-position-x: 190px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1400px;
}

.header__column {
  margin: 60px 0 0 120px;
}

.header__content {
  padding-top: 11px;
}

.header__title span {
  color: #F15525;
}
.header__title i {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-style: italic;
  font-weight: 600;
  color: #22253B;
}

.header__text {
  width: 365px;
  padding-top: 7px;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
