.header {
    //background-image: url(../../img/background_img/01.png);
    margin: 0 auto;
    width: 1400px;
    //padding-top: 11px;
}
.header__background {
    background-image: url(../../img/background_img/01.png);
    padding-top: 11px;
    background-position-x: 190px;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1400px;
}
.header__column {
    margin: 60px 0 0 120px;
}
.header__content {
    padding-top: 11px;
}
.header__title {
    span {
        color: $color-main;
    }
    i {
        @include font(4.6rem, 4.6rem, italic, 600)
    }
}
.header__text {
    width: 365px;
    padding-top: 7px;
}
