.header__navigation {
    max-width: 1160px;
    height: 85px;
    border-radius: 80px;
    background-color: $color-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.header {
    background-color: pink;
}