.education {
    margin-top: 83px;
}
.education__title {
    width: 598px;
    margin: 0 auto;
}
.education__blocks {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
    margin-top: 35px;
    justify-content: center;
    gap: 26px;
}
.block__text {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    padding-top: 50px;
    >h4 {
        padding-top: 15px;
    }
    >p {
        @include font(1.3rem, 1.5rem);
        padding-top: 8px;
    }
}
