.icon {
    display: inline-block;
    cursor: pointer;
}
.line {
    display: inline-block;
    width: 365px;
    height: 1px;
    background-color: $color-additional;
    margin-top: 31px;
}
.icon-arrow {
    width: 9px;
    height: 8px;
    background-image: url(../../img/icons/arrow-right.svg);
}
.img_computer {
    width: 390px;
    height: 408px;
    padding-left: 120px;
    padding-top: 2px;
}
.icon-arrow-up {
    background-image: url(../../img/icons/arrow-up.svg);
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    padding-left: 7px;
}
.img__employer {
    width: 407px;
    height: 352px;
    margin-left: 122px;
    margin-top: 42px;
}
.icon-practice {
    background-image: url(../../img/education/icon1.svg);
    width: 58px;
    height: 58px;
}
.icon-methods {
    background-image: url(../../img/education/icon2.svg);
    width: 59px;
    height: 59px;
}
.icon-comuter {
    background-image: url(../../img/education/icon3.svg);
    width: 69px;
    height: 60px;
}
.icon-calendar {
    background-image: url(../../img/education/icon4.svg);
    width: 71px;
    height: 71px;
}
.icon-message {
    background-image: url(../../img/education/icon5.svg);
    width: 62px;
    height: 57px;
}
.icon-rub {
    background-image: url(../../img/education/icon6.svg);
    width: 59px;
    height: 59px;
}
.icon-card {
    background-image: url(../../img/education/icon7.svg);
    width: 60px;
    height: 60px;
}